weights/ filter=lfs diff=lfs merge=lfs -text
weights/epoch_15_base_vit_large_patch16_224.pth filter=lfs diff=lfs merge=lfs -text
weights/epoch_30_base_vit_base_patch16_224.pth filter=lfs diff=lfs merge=lfs -text
weights/epoch_10_base_efficientnet_b4.pth filter=lfs diff=lfs merge=lfs -text
weights/epoch_15_base_efficientnet_b4.pth filter=lfs diff=lfs merge=lfs -text
weights/epoch_15_base_efficientnetv2_rw_t.pth filter=lfs diff=lfs merge=lfs -text
